.Rproj.user
.Rhistory
.RData
.RDatatmp
.RDatatmp1
.Ruserdata
data
docs
data/
docs/
# remove the annoying Mac .DS_Store
.DS_Store
**.DS_Store
# files/folders to untrack for API pulls
*/apienv/
*/requirements.txt
creds/mWaterCreds.yml
creds/HydroVuCreds.yml
for_azure/creds/mWaterCreds.yml
for_azure/creds/HydroVuCreds.yml

# reporting
scratch/reporting/PWQN_overview.html
# vs code
.vscode/
# targets folder
_targets/
# any figures
*.png
**/images/
#Sam testing script
scratch/sjs_scratch.Rmd
timelapse_data
#testing data for shiny app
shiny_ver_tool/ver_tool_v1/data/
