.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data
docs
data/
docs/
# remove the annoying Mac .DS_Store
.DS_Store
**.DS_Store
# files/folders to untrack for API pull
src/api_pull/credentials.yml
*/apienv/
*/requirements.txt
# untracking field note api
src/mWater_collate/mWater_API.yml
